---
import Image from 'astro/components/Image.astro';
import RedirectBtn from '../components/buttons/RedirectBtn.astro';
import Card from '../components/cards/Card.astro';
import Container from '../components/Container.astro';
import MainLayout from '../layouts/MainLayout.astro';
import type { CardType } from '../lib/appTypes';
import aboutImg from '../assets/ideathon-about.svg';

const cardContents: CardType[] = [
  {
    heading: 'Co je to IDEATHON UTB?',
    text: 'Ideathon je intenzivní 24hodinový workshop, který dává studentům příležitost v krátkém čase vyřešit naléhavé výzvy naší doby. Účastníci workshopu pracují v týmech a díky vzájemné spolupráci navrhují pomocí design thinkingových metod a inovativních postupů řešení zadaných výzev.',
    headingTwo: 'Proč to děláme?',
    textTwo:
      'Chceme propojit studenty napříč fakultami a obory naší univerzity spolu s lokálními institucemi. Díky moderním metodám mohou pomoci vyřešit výzvy města a okolí, ve kterém žijí a studují. Rádi bychom docílili dlouhodobé spolupráce studentů s institucemi a propojili je s reálnou praxí. Akce proběhne v prostorách Technologického inovačního centra Zlín.',
    textExtra:
      'Ideathon pořádá Univerzita Tomáše Bati ve Zlíně ve spolupráci s TIC Zlín a agenturou CzechInvest.',
  },
  {
    heading: 'Kdo může přihlásit výzvu?',
    text: 'Ideathon otevíráme institucím a organizacím ze Zlínského kraje z nekomerčního sektoru. Během měsíce září mohou instituce přihlašovat své výzvy a studenti si pak na místě losem vyberou téma ke zpracování',
    textTwo:
      'Účast na Ideathonu je pro všechny zadavatele zdarma, ale je třeba počítat s časovou investicí v podobě vypracování zadání, představení vybraných témat účastníkům a účastí v porotě během konání akce.',
  },
];
---

<MainLayout title="O projektu">
  <Container>
    <Image
      loading="eager"
      src={aboutImg}
      width={aboutImg.width}
      height={aboutImg.height}
      alt="O projektu"
      class="absolute w-[600px] h-auto z-0 top-0 sm:-top-10 md:top-0 -left-10 md:left-20"
    />
    <!-- <img
      src={aboutImg.src}
      width={aboutImg.width}
      height={aboutImg.height}
      alt="O projektu"
      class="absolute size-[600px] z-0 -top-32 sm:-top-10 md:top-0 -left-10 md:left-20"
    /> -->
    <div class="flex flex-col items-center pt-[240px]">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 z-10">
        <div class="space-y-4 flex flex-col items-center gap-3">
          <Card {...cardContents[0]} />
          <RedirectBtn
            text="CHCI SE PŘIHLÁSIT"
            href="/jdu-do-toho"
            isBlack={false}
          />
        </div>
        <div class="space-y-8">
          <Card {...cardContents[1]} />
          <Card heading="YOUNG A FRESH!">
            <div slot="card-text-formatted" class="mb-6">
              Jaká témata nás zajímají?<br />V roce 2021 byla témata zaměřená na
              smart a eko výzvy! Rok 2022 byl rokem evropského předsednictví a
              zároveň Evropským rokem mládeže. Proto témata byla zacílena právě
              na mladé lidi. V roce 2023 máme jediné kritérium - témata musí mít
              společenský dopad pro Zlínský kraj či město Zlín, jeho obyvatele a
              okolí. Zároveň chceme, aby řešená témata byla po po skončení
              Ideathonu implementována – studenti zajistí zpracování, instituce
              financování a realizaci.<br />Ze všech došlých výzev si studenti
              pomocí hlasování vyberou ke zpracování pět témat.
            </div>
            <div slot="card-custom-button">
              <RedirectBtn text="TÉMATA" href="/temata" />
            </div>
          </Card>
        </div>
      </div>
    </div>
  </Container>
</MainLayout>
