---
import Image from 'astro/components/Image.astro';
import logo from '../../assets/ideathon-logo.svg';
import mainBg from '../../assets/imgs/main-bg-2.webp';
import mainBgMob from '../../assets/imgs/main-bg-mob-2.webp';
---

<div class="relative w-full h-[100dvh] sm:h-[calc(90dvh-78px)]">
  <picture>
    <source media="(min-width: 1024px)" srcset={mainBg.src} />
    <Image
      loading="eager"
      src={mainBgMob}
      width={1920}
      height={1080}
      alt="Ideathon UTB background"
      class="absolute left-0 top-0 size-full object-cover will-change-transform"
    />
  </picture>

  <div
    class="relative px-[4%] lg:px-[10%] py-[8%] h-full flex justify-between items-center gap-x-12 gap-y-10 flex-wrap"
  >
    <Image
      loading="eager"
      src={logo}
      width={logo.width}
      height={logo.height}
      alt="Ideathon UTB logo"
      class="max-w-[300px] max-h-[260px] w-[calc(100%-40px)] h-auto z-10"
    />
    <div class="text-white space-y-8">
      <h2 class="text-4xl md:text-5xl text-white font-bold z-10">
        25.–26.11.2025<br />Baťovy závody trochu jinak
      </h2>
      <p class="text-lg md:text-xl font-semibold">více info zveřejníme brzy</p>
    </div>
  </div>
</div>
